<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGAE | Assinatura</title>
    <link rel="stylesheet" href="../../../css/global/global.css">
    <link rel="stylesheet" href="../../../css/student/profile.css">
    <script src="../../../js/global/navbar.js" defer></script>
    <script src="../../../js/global/components/modal.js" defer></script>
    <script src="../../../js/pages/student/signature.js" defer></script>
</head>
<body>
    <div class="container">
        <nav>
            <ul class="navbar">
                <li class="nav-logo"><a class="nav-brand" href="#"><img src="../../../img/common/brand.svg" alt="CGAE brand"></a></li>
                <div class="btn btn-outline-navbar" onclick="openNavbar(this)">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                    <div class="bar-3"></div>
                </div>
                <div class="nav-items">
                    <li>
                        <a class="nav-link" href="#">Home</a>
                    </li>

                    <li class="nav-link dropdown">
                        <div class="dropdown-btn">
                            Listas <img src="../../../img/common/arrow-down.svg" alt="">
                        </div>
                        
                        <div class="dropdown-content size-3">
                            <a href="#">Vai e volta</a>
                            <a href="#">Saída</a>
                            <a href="#">Pernoite</a>
                        </div>
                    </li>

                    <li class="nav-link dropdown">
                        <div class="dropdown-btn">
                            Assinaturas <img src="../../../img/common/arrow-down.svg" alt="">
                        </div>
                        
                        <div class="dropdown-content size-2">
                            <a href="#">Ativas</a>
                            <a href="#">Encerradas</a>
                        </div>
                    </li>

                    <li class="nav-link dropdown">
                        <div class="dropdown-btn">
                            Perfil <img src="../../../img/common/arrow-down.svg" alt="">
                        </div>
                        
                        <div class="dropdown-content size-2">
                            <a href="#">Meu perfil</a>
                            <a href="#" class="text-danger">Sair</a>
                        </div>
                    </li>
                </div>
            </ul>
            <div class="nav-items-aux">
                <li>
                    <a class="nav-link" href="#">Home</a>
                </li>

                <li class="nav-link dropdown">
                    <div class="dropdown-btn">
                        Listas <img src="../../../img/common/arrow-down.svg" alt="">
                    </div>
                    
                    <div class="dropdown-content size-3">
                        <a href="#">Vai e volta</a>
                        <a href="#">Saída</a>
                        <a href="#">Pernoite</a>
                    </div>
                </li>

                <li class="nav-link dropdown">
                    <div class="dropdown-btn">
                        Assinaturas <img src="../../../img/common/arrow-down.svg" alt="">
                    </div>
                    
                    <div class="dropdown-content size-2">
                        <a href="#">Ativas</a>
                        <a href="#">Encerradas</a>
                    </div>
                </li>

                <li class="nav-link dropdown">
                    <div class="dropdown-btn">
                        Perfil <img src="../../../img/common/arrow-down.svg" alt="">
                    </div>
                    
                    <div class="dropdown-content size-2">
                        <a href="#">Meu perfil</a>
                        <a href="#" class="text-danger">Sair</a>
                    </div>
                </li>
            </div>
        </nav>

        <main>
            <section id="content">
                <h1 class="page-title">assinatura</h1>
                <h2 class="page-subtitle">saída</h2>

                <div class="grid">
                    <dl class="card">
                        <div class="dl-line">
                            <dt>aluno</dt>
                            <dd>Henrique Cardoso de Souza</dd>
                        </div>

                        <div class="dl-line">
                            <dt>endereço</dt>
                            <dd>rua pedro nunes - 392</dd>
                        </div>

                        <div class="dl-line">
                            <dt>nome do responsável</dt>
                            <dd>maria lúcia dos santos</dd>
                        </div>

                        <div class="dl-line">
                            <dt>telefone</dt>
                            <dd>(38) 991875243</dd>
                        </div>

                        <div class="dl-line">
                            <dt>data de saída</dt>
                            <dd>12/02/2024</dd>
                        </div>

                        <div class="dl-line">
                            <dt>data de chegada</dt>
                            <dd>14/02/2024</dd>
                        </div>

                        <div class="dl-line">
                            <dt>hora de saída</dt>
                            <dd>08:30</dd>
                        </div>
                        
                        <div class="dl-line">
                            <dt>hora de chegada</dt>
                            <dd>12:00</dd>
                        </div>

                        <div class="dl-line mt-4 justify-right">
                            <button type="button" class="btn btn-outline-danger" onclick="openModal('finish')">Encerrar assinatura</button>
                        </div>
                    </dl>
                </div>
            </section>

            <section id="edit">
                <h1 class="page-subtitle">edições realizadas</h1>

                <div id="table" class="mt-4">
                    <table>
                        <thead>
                            <tr>
                                <th>destino</th>
                                <th>data de saída</th>
                                <th>data de chegada</th>
                                <th>horário de saída</th>
                                <th>horário de chegada</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="table-link">
                                <td>vai e volta</td>
                                <td>08/04/2024</td>
                                <td>08/04/2024</td>
                                <td>11:00</td>
                                <td>23:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <section id="modal">
                <div id="finish-background" class="modal-background" style="display: none" onclick="openModal(this.id.split('-')[0])"></div>
                <form id="finish" class="modal" style="display: none" method="post" action="?">
                    <div class="modal-header">
                        <h3 class="modal-title">Encerrar assinatura</h3>
                        <button type="button" class="btn btn-close-modal" onclick="openModal('finish')"><div class="close"></div></button>
                    </div>

                    <hr>

                    <div class="modal-body">
                        <p class="modal-content">
                            Deseja realmente encerrar a assinatura?
                        </p>
                            
                        <small>Isso irá antecipar a data e hora de chegada para a data e hora atuais</small>

                        <br><br>

                        <input type="text" id="password" placeholder="Informe sua senha para confirmar">
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-outline-danger" type="button" onclick="openModal('finish')">Não</button>
                        <button class="btn btn-outline-success" id="action" type="submit" value="finish" disabled>Sim</button>
                    </div>
                </form>
            </section>
        </main>

        <footer>
            <img class="footer-logo" src="../../../img/common/footer/logo.svg" alt="if logo">
        
            <div class="footer-line"></div>
        
            <div class="footer-contacts">
                <a href="https://instagram.com/cgaelistaseletronicas" class="footer-contact">
                    <img src="/src/img/common/footer/instagram.svg" alt="instagram">
                    <span>cgaelistaseletronicas</span>
                </a>
                
                <a href="mailto:cgaelistaseletronicas@gmail.com" class="footer-contact">
                    <img src="/src/img/common/footer/email.svg" alt="email">
                    <span>cgaelistaseletronicas@gmail.com</span>
                </a>
                
                <div class="footer-contact">
                    <img src="/src/img/common/footer/phone.svg" alt="telefone">
                    <span>(38) 99187-8682</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>