footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 50px 0;
}

.footer-logo {
    width: 240px;
    user-select: none;
}

.footer-line {
    width: 2px;
    height: 170px;
    background-color: white;
    margin: 0 52px;
}

.footer-contact {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: var(--text-default);
}

.footer-contact img {
    margin-right: 14px;
}

@media (max-width: 768px) {
    footer {
        margin-top: 70px;
        margin-bottom: 20px;
    }

    .footer-logo {
        width: 180px;
    }

    .footer-line {
        height: 120px;
        margin: 0 20px;
        width: 2px;
    }

    .footer-contact img {
        width: 14px;
        margin-right: 10px;
    }

    .footer-contact span {
        font-size: 14px;
    }
}

@media (max-width: 540px) {
    footer {
        margin: 50px 0;
        padding: 0;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {
        width: 40%;
    }

    .footer-line {
        height: 1px;
        margin: 20px 0;
        width: 80%;
    }

    .footer-contact img {
        width: 13px;
    }

    .footer-contact span {
        font-size: 13px;
    }
}

@media (max-width: 392px) {
    .footer-logo {
        width: 60%;
    }

    .footer-contact img {
        width: 12px;
        margin-right: 5px;
    }

    .footer-contact a {
        font-size: 12px;
    }
}