.px-4 {
    padding-left: 40px;
    padding-right: 40px;
}

.w-100 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

@media (max-width: 540px) {
    .px-4 {
        padding-right: 0;
        padding-left: 0;
    }
}